<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home2">Emi-Nem</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>    
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li><a href="/transfer">Transfer</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <h3>Dashboard</h3>
    <div class="container">
    <table id="balance" class="table table-hover">
      <tr>
        <th> Mosaic Name </th>
        <th> Quantity </th>
      </tr>
      <tr v-for="histo in history">
        <td> {{ histo.mosaicName }} </td>
        <td> {{ histo.quantity }} </td>
    </tr>
      
      <tbody>

      </tbody>
    </table>
    </div>
</div>
<div id="qrcode"></div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/balance.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</html>
