<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home2">Emi-Nem</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>    
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li><a href="/transfer">Transfer</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <h3>Add New Members</h3>
    <form id="LogIn">
        <div class="form-group">
            <input type="text" class="form-control" id="user" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pass" placeholder="Password">
        </div>
    <a id="createAccount" type="button" class="btn btn-primary" href="/home">Add Member</a>
    </form>
</div>
<div id="qrcode"></div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/create.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</html>
