<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home2">Emi-Nem</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home2">Home</a></li>    
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li class="active"><a href="#">Transfer</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <h3>Transfer Mosaic</h3>
    <form id="Login">
        <div class="form-group">
            <input type="text" class="form-control" id="recipient" placeholder="Recipient">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="quantity" placeholder="Quantity">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="message" placeholder="Message">
      </div>
      <div class="form-group">
        <!-- <input type="text" class="form-control" id="mosaicName" placeholder="Mosaic Name"> -->
        <select class="form-control" id="mosaicName">
          <option value="pera">Baranggay 1</option>
          <option value="pera">Baranggay 2</option>
          <option value="pera">Baranggay 3</option>
          <option value="pera">Baranggay 4</option>
        </select>
    </div>
    <button id="transfer" type="submit" class="btn btn-primary" href="/transfer">Transfer</button>
    </form>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/transfer.js"></script>
</html>
